section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
 
span {
  
}

/* input[type=number] { */
input { 
  display: inline-flex;
  width: 200px;
  height: 40px;
  text-align: center;
}

button { 
  height: 40px;
  width: 100px;
  background-color:darkorange;
  color: white;
  border: 0px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}


button:hover {
  background-color: olive;
  cursor: pointer;
}